<!DOCTYPE html>

<html>
	<head lang="pt-BR">
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="app.js"></script>
		<!--<script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
		<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>-->
		<style>
			.btn .btn-block{
				margin-top: 5px;
			}
		</style>
		<link href="estilo.css" rel="stylesheet" type="text/css" />
		
		
		
	</head>
	
	<body ng-app="myApp"  ng-controller="controller">
		<h1>Hello, world!</h1>	
		
		<div class="col-md-10 col-md-offset-1 col-sm-6">
			<form>
			
			<!-- Dados Empresa------------------------------------------------------------------------->

				<button class="btn btn-block" ng-click="toggleDadosEmp()">Dados da empresa</button>
				<span ng-hide="formDadosEmp">
				<div class="form-group">
					<label for="empresa">Empresa</label>
					<input type="text" class="form-control" id="empresa" ng-model="empresa"></input>
										
					<div class="col-md-9">
						<label for="cnpj">CNPJ</label>
						<div ng-class="cssClass">
							<!--<input type="text" class="form-control" id="cnpj"></input>-->
							<input class="form-control" type="text" id="cnpj" name="cnpj" id="cnpj"  ng-model="cnpj" ng-change="validarCNPJ(cnpj)">
						</div>
					</div>
					<div class="col-md-3"><br /><br /><p>{{erro}}</p></div>
										
					<div class="col-md-6">
						<label for="email">E-mail</label>
						<input type="text" class="form-control" id="email"></input>
					</div>	
					<div class="col-md-6">
						<label for="telefone">Telefone</label>
						<input type="text" class="form-control" id="telefone"></input>
					</div>	
					
					<div class="col-md-10">
						<label for="responsavel">Responsavel</label>
						<input type="text" class="form-control" id="responsavel"></input>
					</div>	
					<div class="col-md-2">
						<label for="usuarios">Nº Usuarios</label>
						<input type="text" class="form-control" id="usuarios"></input>
					</div>	
					
					<div class="col-md-3">
						<label for="ramo">Ramo</label>
						<select class="selectpiker form-control" id="ramo" ng-model="selRamo" ng-options="ramo for ramo in ramos" ng-change="setOutroRamo()">
							<option value="">Selecione uma opção</option>
						</select>
					</div>	
					<div class="col-md-9">
						<label for="ramo_tipo">Qual?</label>
						<input type="text" class="form-control" id="ramo_tipo" ng-disabled="ramoDisabled"></input>
					</div>
					
					<div class="col-md-5">
						<label for="loja">Loja</label>
						<select class="selectpiker form-control" id="loja" ng-options="loja for loja in lojas" ng-model="selLoja" ng-change="setLoja()">
							<option value="">Selecione um opção</option>
						</select>
					</div>
					<div class="col-md-2">
						<label for="chkFilial">Possui filial?</label>
						<div class="form-control">
							<label class="checkbox-inline">
								<input type="checkbox" id="chkFilial" value="filial" ng-model="chkFilial" ng-disabled="filiaisDisabled" ng-change="setQtdFiliais()">Sim
							</label>
						</div>
					</div>
					<div class="col-md-5">
						<label for="qtdFilial">Quantas Filiais</label>
						<input type="text" class="form-control" id="qtdFilia" name="qtdFilial" ng-model="qtdFilial" ng-disabled="qtdFiliaisDisabled"></input>
						{{qtdFiliaisDisabled}}
					</div>
					
					
					<div class="col-md-4">
						<label for="regime">Regime</label>
						<select class="selectpiker form-control" id="regime">
							<option value="SN">Simples Nacional</option>	
							<option value="lPres">Lucro Presumido</option>
							<option value="lReal">Lucro Real</option>
							
						</select>
					</div>	
					
					<div class="col-md-6 col-sm-6">
						<label for="fiscal">Fiscal</label>
						<div class="form-control">
							<label class="checkbox-inline">
								<input type="checkbox" id="chkFis" value="fiscal"> SPED Fiscal
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="chkCont" value="contribuicoes"> SPED Pis/Cofins
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="chkSint" value="sintegra"> Sintegra
							</label>
						</div>
					</div>	
					<div class="col-md-2">
						<label for="nfiscal">100% Fiscal?</label>
						<div class="form-control">
							<label class="checkbox-inline">
								<input type="checkbox" id="chkFilial" value="filial">Sim
							</label>
						</div>
					</div>
					
					
					
				</div>
				</span>
				<span ng-show="formDadosEmp"></span>
				<!-- /Dados Empresa------------------------------------------------------------------------->
							
				<!-- Dados do Computador------------------------------------------------------------------------->
				
				<button class="btn btn-block" ng-click="toggleDadosComp()">Dados do Computador</button>
				
				<span ng-hide="formDadosComp">
					<table class="table table-bordered">
						<tr>
							<th>Qtde</th>
							<th>Descrição</th>
							<th>Sist. OP</th>
							<th>HD</th>
							<th>Memoria</th>
							<th>Seial</th>
							<th>Serv.</th>
							<th>Term.</th>
							<th>Caixa</th>						
						</tr>
						<tr ng-repeat="comp in computadores">
							
							<td>{{comp.qtde}}</td>
							<td>{{comp.descricao}}</td>
							<td>{{comp.sistOp}}</td>
							<td>{{comp.hd}}</td>
							<td>{{comp.memoria}}</td>
							<td>{{comp.serial}}</td>
							<td>{{comp.serv}}</td>
							<td>{{comp.term}}</td>
							<td>{{comp.caixa}}</td>		
							
						</tr>
					</table>
					<div class="col-md-2">
						<label for="quantidade">Qtde</label>
						<input class="form-control" type="text" id="qtde" ng-model="computador.qtde"></input>
					</div>
					<div class="col-md-10">
						<label for="descricao">Descrição</label>
						<input class="form-control" type="text" id="descricao" ng-model="computador.descricao"></input>
					</div>
					<div class="col-md-1">
						<label for="sistOp">SO</label>
						<input class="form-control" type="text" id="sistOp" ng-model="computador.sistOp"></input>
					</div>
					<div class="col-md-2">
						<label for="descricao">HD</label>
						<input class="form-control" type="text" id="descricao" ng-model="computador.hd"></input>
					</div>
					<div class="col-md-2">
						<label for="descricao">Memória</label>
						<input class="form-control" type="text" id="descricao" ng-model="computador.memoria"></input>
					</div>
					
					
					<div class="col-md-7 col-sm-6">
						<label for="fiscal">teste</label>
						<div class="form-control text-justify">
							<label class="checkbox-inline">
								<input type="checkbox" id="chkSer" ng-model="computador.serial" value="serial"> Serial
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="chkServ" ng-model="computador.serv" value="servidor"> Servidor
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="chkTerm" ng-model="computador.term" value="terminal"> Terminal
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="chkCx" ng-model="computador.caixa" value="caixa"> Caixa
							</label>
						</div>
					</div>	
					<br /><br /><br />
					<button class="btn btn-primary btn-block" ng-click="adicionar(computador)">Adicionar</button>
				</span>
				<span ng-show="formDadosComp"></span>
				<!-- /Dados do Computador------------------------------------------------------------------------->
				
				<!-- Equipamentos------------------------------------------------------------------------->

				<button class="btn btn-block" ng-click="toggleEquip()">Equipamentos</button>
				<span ng-hide="formEquip">
					<table class="table table-bordered">
						<tr>
							<th class="text-center" colspan="2">ECF</th>
						</tr>
						<tr>
							<th>Qtd.</th>
							<th>Marca</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
						</tr>
				
				
					</table><table class="table table-bordered">
						<tr>
							<th class="text-center"colspan="2">Balança</th>
						</tr>
						<tr>
							<th>Qtd.</th>
							<th>Marca</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
						</tr>
				
					</table></table><table class="table table-bordered">
						<tr>
							<th class="text-center" colspan="2">Equip. de Rede</th>
						</tr>
						<tr>
							<th>Qtd.</th>
							<th>Marca</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
						</tr>
					</table>

				</span>
				<span ng-show="formEquip"></span>
				
				<!-- /Equipamentos------------------------------------------------------------------------->
				
				<!-- Outras Informações------------------------------------------------------------------------->
				
				<button class="btn btn-block" ng-click="toggleOutrasInfo()">Outras Informações</button>
				<span ng-hide="formOutrasInfo">
					<div class="col-md-12">
						<table class="table table-bordered">
							<tr>
								<td><label for="certDigital">Cert. Digital:</label></td>
								<td colspan="4">
								
									<label class="radio-inline">
										<input type="radio" name="optCertDigital">A1
									</label>
									<label class="radio-inline">
										<input type="radio" name="optCertDigital">A3
									</label>
									<label class="radio-inline">
										<input type="radio" name="optCertDigital">Não Usa
									</label>			
								</td>
								
								
							</tr>
							<tr>
								<td><label for="internet">Internet:</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" ng-model="tInternet" name="optInternet" id="internetFibra" value="internetFibra" ng-change="setOutraInternet()">							
											Fibra
										</input>
									</label>
									<label class="radio-inline">
										<input type="radio" ng-model="tInternet" name="optInternet" id="internetRadio" value="internetRadio" ng-change="setOutraInternet()">
											Radio
										</input>
									</label>
									<label class="radio-inline">
										<input type="radio" ng-model="tInternet" name="optInternet" id="internetDsl" value="internetDsl" ng-change="setOutraInternet()">
											DSL
										</input>
									</label>
									<label class="radio-inline">
										<input type="radio" ng-model="tInternet" name="optInternet" id="internetOutras" value="internetOutras" ng-change="setOutraInternet()">
											Outras
										</input>
									</label>
								</td>
								<td colspan = "3"><input class="form-control" type="text" id="qualInternet" name="qualInternet" ng-disabled="internetDisabled" placeholder="Qual?"></input></td>
								
							</tr>
							<tr>
								<td><label for="buscaPreco">Busca Preço:</label></td>
								<td><label class="radio-inline">
									<input type="radio" ng-model="selBuscaPreco" name="optBuscaPreco" value="nao" ng-change="setBuscaPreco()">Não
								</label>
									<label class="radio-inline">
										<input type="radio" ng-model="selBuscaPreco" name="optBuscaPreco" value="sim" ng-change="setBuscaPreco()">Sim
									</label>
								</td>
								<td colspan="3">
									<input class="form-control" type="text" id="qualBuscaPreco" name="qualBuscaPreco" ng-disabled="buscaPrecoDisabled" placeholder="Qual Busca Preço?"></input>
								</td>
								
							</tr>
							<tr>
								<td><label for="impresEti">Impressora de Etiqueta</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optImpEti" value="nao" ng-model="selImpEti" ng-change="setImpEti()">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optImpEti" value="sim" ng-model="selImpEti" ng-change="setImpEti()">Sim
									</label>
								</td>
								<td colspan="3">
									<input class="form-control" type="text" id="qualImpEti" name="qualImpEti" placeholder="Qual Impressora?" ng-disabled="impEtiDisabled"></input>
								</td>
								
							</tr>
							<tr>
								<td><label for="tef">TEF</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optTef" value="nao" ng-model="selTef" ng-change="setTef()">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optTef" value="sim" ng-model="selTef" ng-change="setTef()">Sim
									</label>
								</td>
								<td colspan="2">
									<input class="form-control" type="text" id="qualTef" name="qualTef" placeholder="Qual TEF?" ng-disabled="tefDisabled"></input>
								</td>
									
								<td>
									<label class="radio-inline">
										<input type="radio" name="optAux" ng-disabled="tefDisabled">VPN
									</label>
									<label class="radio-inline">
										<input type="radio" name="optAux" ng-disabled="tefDisabled">Moden
									</label>
									
								</td>
								
							</tr>
							<tr>
								<td><label for="impressora">Inpressora</label></td>
								<td colspan="4">
									<label class="radio-inline">
										<input type="radio" name="optImpressora">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optImpressora">Sim
									</label>
								</td>
								
							</tr>
							<tr>
								<td><label for="coletorDados">Coletor de Dados</label></td>
								<td colspan="4">
									<label class="radio-inline">
										<input type="radio" name="optColetor">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optColetor">Sim
									</label>
								</td>
								
							</tr>
							<tr>
								<td><label for="leitorMesa">Leitor de Mesa</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optLeitorMesa" value="nao" ng-model="selLeitorMesa" ng-change="setLeitorMesa()">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optLeitorMesa" value="sim" ng-model="selLeitorMesa" ng-change="setLeitorMesa()">Sim
									</label>
								</td>
								<td>
									<input class="form-control" type="text" id="qualLeitorMesa" name="qualLeitorMesa" placeholder="Marca Leitor?" ng-disabled="leitorMesaDisabled"></input>
								</td>
								<td><input class="form-control" type="text" id="qtdLeitorMesa" name="qtdLeitorMesa" placeholder="Qtd" ng-disabled="leitorMesaDisabled"></input></td>
								<td>
									<label class="checkbox-inline">
										<input type="checkbox" id="chkLeitorMesaUsb" value="usb" ng-disabled="leitorMesaDisabled"> USB 
									</label>
								</td>
							</tr>
							<tr>
								<td><label for="leitorMao">Leitor de Mão</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optLeitorMao" value="nao" ng-model="selLeitorMao" ng-change="setLeitorMao()">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optLeitorMao" value="sim" ng-model="selLeitorMao" ng-change="setLeitorMao()">Sim
									</label>
								</td>
								<td>
									<input class="form-control" type="text" id="qualLeitor" name="qualLeitorMao" placeholder="Marca Leitor?" ng-disabled="leitorMaoDisabled"></input>
								</td>
								<td><input class="form-control" type="text" id="qtdLeitor" name="qtdLeitorMao" placeholder="Qtd" ng-disabled="leitorMaoDisabled"></input></td>
								<td>
									<label class="checkbox-inline">
										<input type="checkbox" id="chkLeitoMaorUsb" value="usb" ng-disabled="leitorMaoDisabled"> USB
									</label>
								</td>
							</tr>
							<tr>
								<td><label for="palm">Palm</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optPalm" value="nao" ng-model="selPalm" ng-change="setPalm()">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optPalm" value="sim" ng-model="selPalm" ng-change="setPalm()">Sim
									</label>
								</td>
								<td>
									<input class="form-control" type="text" id="qualPalm" name="qualPalm" placeholder="Marca Palm?" ng-disabled="palmDisabled"></input>
								</td>
								<td><input class="form-control" type="text" id="qtdPalm" name="qtdPalm" placeholder="Qtd" ng-disabled="palmDisabled"></input></td>
								<td>
									<label class="checkbox-inline">
										
										<input class="form-control" type="text" id="soPalm" name="soPalm" placeholder="SO Palm?" ng-disabled="palmDisabled"></input>
									</label>
								</td>
							</tr>
							<tr>
								<td><label for="usaSistema">Usa Sistema?</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optSistema" value="nao" ng-model="selSistema" ng-change="setSistema()">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optSistema" value="sim" ng-model="selSistema" ng-change="setSistema()">Sim
									</label>
								</td>
								<td colspan="3"><input class="form-control" type="text" id="qualSistema" name="qualSistema" placeholder="Qual Sistema?" ng-disabled="sistemaDisabled"></td>
								
							</tr>
							<tr>
								<td><label for="coletorDados">Coletor de Dados</label></td>
								<td colspan="4">
									<label class="radio-inline">
										<input type="radio" name="optColetor">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optColetor">Sim
									</label>
								</td>
								
							</tr>
						</table>
						
						<table class="table table-bordered">
							<tr>
								<th class="text-center" colspan="5">NoBreak</th>
							</tr>
							<tr>
								<th class="text-center">Qtde</th>
								<th class="text-center">Marca</th>
								<th class="text-center">Serv</th>
								<th class="text-center">Term</th>
								<th class="text-center">Cx</th>
							</tr>
							
							<tr ng-repeat="nBreak in nBreaks">							
								<td>{{nBreak.qtde}}</td>
								<td>{{nBreak.marca}}</td>
								<td>{{nBreak.serv}}</td>
								<td>{{nBreak.term}}</td>
								<td>{{nBreak.cx}}</td>							
							</tr>
							
						</table>
						
						
						
						<label for="nobreak">Nobreak</label>
						<div class="col-md-12">
							<div class="col-md-2">
								<input class="form-control" type="text" placeholder="Qtd"></input>
							</div>
							<div class="col-md-5">
								<input class="form-control" type="text" placeholder="Marca"></input>
							</div>
							
							<div class="col-md-5">
								<div class="form-control">
									<label class="checkbox-inline">
										<input type="checkbox" id="chkNBServ" ng-model="nobreak.serv" value="NBServidor">Serv
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="chkNBTerm" ng-model="nobreak.term" value="NBTerminal">Term							
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="chkNBCx" ng-model="nobreak.cx" value="NBTerminal">Cx								
									</label>
								</div>
							</div>
							<button class="btn btn-block btn-primary"> add </button>
						</div>
						
						<table class="table table-bordered">
							<tr>
								<th class="text-center" colspan="2">Remoto</th>
							</tr>
							<tr>
								<td><label for="acessoOutro">Acessa de Outro Computador?</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optAcesso">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optAcesso">Sim
									</label>
								</td>
							</tr>
							<tr>
								<td><label for="interligaFiliais">Interliga Filiais?</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optFiliais">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optFiliais">Sim
									</label>
								</td>
							</tr>
							<tr>
								<td><label for="ipFixo">Ip Fixo?</label></td>
								<td>
									<label class="radio-inline">
										<input type="radio" name="optIp" value="nao" ng-model="selIpFixo" ng-change="setIpFixo()">Não
									</label>
									<label class="radio-inline">
										<input type="radio" name="optIp" value="sim" ng-model="selIpFixo" ng-change="setIpFixo()">Sim
									</label>
								</td>
							</tr>
							<tr>
								<td><label for="qualIp">Qual IP?</label></td>
								<td>
									<input class="form-control" type="text" id="ipFixo" placeholder="Digite o IP" ng-disabled="ipFixoDisabled">
								
								</td>
							</tr>
							
							
						</table>
						
					</div>
				</span>
				<span ng-show="formOutrasInfo"></span>
				<!-- /Outras Informações------------------------------------------------------------------------->

				<!-- Sistema------------------------------------------------------------------------->

				<button class="btn btn-block" ng-click="toggleSistema()">Sistema</button>
				<span ng-hide="formSistema">
					<table class="table">
						<tr>
							<th class="text-center" colspan=5>Sistema</th>
						</tr>
						<tr>
							<td><input type="checkbox">Intellicash Full</input></td>
							<td><input type="checkbox">Intellicash Light</input></td>
							<td><input type="checkbox">Easycash</input></td>
							<td><input type="checkbox">GNFe</input></td>
							<td></td>
						</tr>
						<tr>
							<td><input type="checkbox">Cotação Online</input></td>
							<td><input type="checkbox">Intelligroup</input></td>
							<td><input type="checkbox">Intellistock</input></td>
							<td><input type="checkbox">Venda Assistida</input></td>
							<td></td>
						</tr>
						<tr>
							<th>
							</th>
						</tr>
						<tr>
							<td><input type="checkbox">Orçamento</input></td>
							<td><input type="checkbox">Pedido</input></td>
							<td><input type="checkbox">Produto</input></td>
							<td><input type="checkbox">EDI</input></td>
							<td><input type="checkbox">MGMobile</input></td>
						</tr>
						<tr>
							<td><input type="checkbox">NFe-Destinada</input></td>
							<td><input type="checkbox">Contas a Pagar/receber</input></td>
							<td><input type="checkbox">Sincronizador</input></td>
							<td><input type="checkbox">Entrega Cega</input></td>
							<td><input type="checkbox">CT-e</input></td>
						</tr>
					</table>
				</span>
				<span ng-show="formSistema"></span>
				<!-- /Sistema------------------------------------------------------------------------->
				
				<!-- Processos e Procedimentos------------------------------------------------------------------------->

				<button class="btn btn-block" ng-click="toggleProc()">Processos e Procedimentos</button>
				<span ng-hide="formProc">
				
					<table class="table">
						<tr>
							<td><label for="qtdCad">Quantas pessoas realizam o cadastro?</label></td>
							<td></td>
							<td>
								<input class="form-control" text="text" id="qtdCadastro">
							</td>
						</tr>
						<tr>
							<td>
								<label for="pessoaCad">Mesma pessoa do cadastro, lança notas fiscais?</label>
							</td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optPessoaLanc" value="nao" ng-model="selPessoaLanc" ng-change="setPessoaLanc()">Não
								</label>
								<label class="radio-inline">
									<input type="radio" name="optPessoaLanc" value="sim" ng-model="selPessoaLanc" ng-change="setPessoaLanc()">Sim
								</label>
							</td>
							<td>
								<input class="form-control" text="text" id="pessoaLanc" placeholder="Quem Lança as NF?" ng-disabled="pessoaLancDisabled">
							</td>
						</tr>
						<tr>
							<td><label for="qLancPrec">Os preços são conferidos pela mesma pessoa que lança nota de compra?</label></td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optLancPreco" value="nao" ng-model="selLancPreco" ng-change="setLancPreco()">Não
									
								</label>
								<label class="radio-inline">
									<input type="radio" name="optLancPreco" value="sim" ng-model="selLancPreco" ng-change="setLancPreco()">Sim
								</label>
							</td>
							<td><input class="form-control" text="text" id="lancPreco" placeholder="Quem confere preço?" ng-disabled="lancPrecoDisabled"></td>
						</tr>
						<tr>
							<td><label for="qRecebeMerc">A mercadoria é recebida pela pessoa que lança nota de compra?</label></td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optRecebeMerc" value="nao" ng-model="selRecebeMerc" ng-change="setRecebeMerc()">Não
								</label>
								<label class="radio-inline">
									<input type="radio" name="optRecebeMerc" value="sim" ng-model="selRecebeMerc" ng-change="setRecebeMerc()">Sim
								</label>
							</td>
							<td><input class="form-control" text="text" id="recebeMerc" placeholder="Quem recebe mercadoria?" ng-disabled="recebeMercDisabled"></td>
						</tr>
						<tr>
							<td><label for="qCompraVenda">Mesma pessoa lança nota de compra e nota de venda?</label></td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optCompraVenda" value="nao" ng-model="selCompraVenda" ng-change="setCompraVenda()">Não
								</label>
								<label class="radio-inline">
									<input type="radio" name="optCompraVenda" value="sim" ng-model="selCompraVenda" ng-change="setCompraVenda()">Sim
								</label>
							</td>
							<td><input class="form-control" text="text" id="compraVenda" placeholder="Quem lança nota?" ng-disabled="compraVendaDisabled"></td>
						</tr>
						<tr>
							<td><label for="qFiscalCaixa">Fiscal de Caixa?</label></td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optFiscalCaixa" value="nao" ng-model="selFiscalCaixa" ng-change="setFiscalCaixa()">Não
								</label>
								<label class="radio-inline">
									<input type="radio" name="optFiscalCaixa" value="sim" ng-model="selFiscalCaixa" ng-change="setFiscalCaixa()">Sim
								</label>
							</td>
							<td><input class="form-control" text="text" id="fiscalVendas" placeholder="Fiscal de Caixa?" ng-disabled="fiscalCaixaDisabled"></td>
						</tr>
						<tr>
							<td><label for="qCaixaDiario">Realiza fechamento de caixa diário?</label></td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optCaixaDiario">Não
								</label>
								<label class="radio-inline">
									<input type="radio" name="optCaixaDiario">Sim
								</label>
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label for="qRespFechamento">Tem alquém responsável por conferir Fechamento de Caixa?</label></td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optRespFechamento" value="nao" ng-model="selRespFechamento" ng-change="setRespFechamento()">Não
								</label>
								<label class="radio-inline">
									<input type="radio" name="optRespFechamento" value="sim" ng-model="selRespFechamento" ng-change="setRespFechamento()">Sim
								</label>
							</td>
							<td><input class="form-control" text="text" id="respFechamento" placeholder="Responsavel Fechamento" ng-disabled="respFechamentoDisabled"></td>
						</tr>
						<tr>
							<td><label for="qRespFinanceiro">Responsavel pelo Financeiro?</label></td>
							<td>
								<label class="radio-inline">
									<input type="radio" name="optRespFinanceiro" value="nao" ng-model="selRespFinanceiro" ng-change="setRespFinanceiro()">Não
								</label>
								<label class="radio-inline">
									<input type="radio" name="optRespFinanceiro"  value="sim" ng-model="selRespFinanceiro" ng-change="setRespFinanceiro()">Sim
								</label>
							</td>
							<td><input class="form-control" text="text" id="respFinanceiro" placeholder="Responsavel Financeiro" ng-disabled="respFinanceiroDisabled"></td>
						</tr>
					</table>
				</span>
				<span ng-show="fornProc"></span>
				<!-- /Processos e Procedimentos------------------------------------------------------------------------->
			</form>
		</div>
	</body>
</html>

